.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-large);
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  gap: var(--spacing-large);
}

.navbar__header-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  flex-basis: 35%;
  white-space: nowrap;
}

.navbar__header {
}
